[submodule "RunOnStartup"]
	path = RunOnStartup
	url = git@github.com:danielvandenberg95/RunOnStartup.git
[submodule "promovideo"]
	path = promovideo
	url = git@github.com:danielvandenberg95/BluetoothToPcPromoVideo.git
